.btn-default {
    font-size: medium;
    padding: 2px;
}

.divider{
    width:5px;
    height:auto;
    display:inline-block;
}

agm-map {
    height: 500px;
}

.map {
    text-align: center;
    margin: auto;
    padding: 20px;
    border-radius: 20px;
}

.btn-default {
    display: inline-block;
    float: left;
}

.btn-close {
    display: inline-block;
    float: right;
}
