.main-div {
    min-height: 90vh;
    display: flex;
    flex: inherit;
    justify-content: center;
    /* align-items: center; */
    background-image: url("https://wallpaperaccess.com/full/18686.jpg");
    background-attachment: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: medium;
}

.container{
    text-align: center;
    height: 80%;
}

.header{
    text-align: center;
    margin-top: 0;
    margin-bottom: 5px;
}

.center{
    margin: auto;
    padding: 20px;
    border-radius: 20px;
}

.card {
    margin-top: 5%;
    margin-bottom: 5%;
    opacity: 95%;
    flex: auto;
    width: fit-content;
    height: min-content;
}

.row {
    text-align: center;
}
