.center{
    margin: auto;
    /* border: 3px solid green; */
    padding: 20px;
    border-radius: 20px;
}

.toolbar {
    justify-content: center;
}

.card {
    align-self: auto;
    padding: 15px;
    flex: inherit;
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.main-div{
    min-height: -webkit-fill-available;
    display: flex;
    flex: inherit;
    justify-content: center;
    align-items: center;
    background-image: url("https://wallpapercave.com/wp/eOZbIG4.jpg");
    background-attachment: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: medium;
}

.container{
    text-align: center;
}

.header{
    /* height: 50px; */
    text-align: center;
    font-size: 30px;
}
  
.row{
    margin-top: 5px;
}
  
.error{
    color: red;
    font-size: medium;
}

.btn-default {
    font-size: medium;
    width: 200px;
    padding: 4px;
}

.header {
    font-size: x-large;
}

.input {
    width: 90%;
}
