<div>
    <mat-toolbar color="primary" class="header">Golf Player Time Management Admin</mat-toolbar>
</div>
<div class="main-div">
    <mat-card class="card">
        <div class="center">
            <div class="container">
                <h1 class="header">Login</h1>
                <form [formGroup]="loginForm">
                    <div class="row">
                        <mat-form-field>
                            <input matInput placeholder="Email" type="email" formControlName="email" required>
                            <mat-hint>Enter your email address</mat-hint>
                            <mat-error>
                                Email is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="row">
                        <mat-form-field>
                            <input matInput placeholder="Password" type="password" formControlName="password" required>
                            <mat-hint>Enter your password</mat-hint>
                            <mat-error>
                                Password is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div><label class="error" *ngIf="errorMessage">Invalid username/password</label></div>
                    <div><label class="error" *ngIf="noAdmin == true">You must be an administrator</label></div>
                    <div *ngIf="!errorMessage && !noAdmin"><p></p></div>
                    <button mat-raised-button color="primary" type="submit" (click)="tryLogin(loginForm.value)" class="btn-default">Login</button>
                </form>
                <!-- <div class="row">
                    <div>
                        <button mat-raised-button color="secondary" type="button" (click)="tryGoogleLogin()" class="btn-default"><img width="20px" style="margin-right:8px" alt="Google sign-in"
                            src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"/> Login with Google</button>
                    </div>
                </div> -->
                <div class="row">
                      <button mat-raised-button color="secondary" type="button" (click)="tryRegister()" class="btn-default">Register your Golf Course</button>
                </div>
            </div>
        </div>
    </mat-card>
</div>
