.center{
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
    border-radius: 20px;
}

.container{
    text-align: center;
}

.header{
    text-align: center;
    font-size: 30px;
    margin-bottom: 40px;
}
  
.row{
    margin-top: 10px;
}
  
.error{
    color: red;
}