<div>
    <mat-toolbar color="primary">Golf Player Time Management Admin Dashboard</mat-toolbar>
</div>
<div class="main-div">
    <mat-card class="card">
        <div class="center">
            <div class="container">
                <h1 class="header">Login</h1>
                <form [formGroup]="loginForm">
                    <mat-form-field>
                        <input matInput placeholder="Email" type="email" formControlName="email">
                        <mat-hint>Enter your email address</mat-hint>
                        <mat-error>
                            Email is required
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Password" type="password" formControlName="password">
                        <mat-hint>Enter your password</mat-hint>
                        <mat-error>
                            Password is required
                        </mat-error>
                    </mat-form-field>
                    <div><label class="error" *ngIf="errorMessage">Invalid username or password</label></div>
                    <div *ngIf="!errorMessage"><p></p></div>
                    <button mat-raised-button color="secondary" type="submit" (click)="tryLogin(loginForm.value)" class="btn-default">Login</button>
                </form>
                <div class="row">
                    <div>
                        <button mat-raised-button color="secondary" type="button" (click)="tryGoogleLogin()" class="btn-default"><img width="20px" style="margin-right:8px" alt="Google sign-in" 
                            src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"/> Login with Google</button>
                    </div>
                </div>
            </div>
        </div>
    </mat-card>
</div>
