.center{
    margin: auto;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}

.buttons{
    text-align: center;
    justify-content: center;
    display: flex;
    bottom: 0;
}
  
.row{
    margin-top: 10px;
}
  
.error{
    color: red;
    font-size: medium;
}

.success {
    color: green;
    font-size: medium;
}

.btn-default {
    font-size: medium;
    width: 200px;
    padding: 4px;
}

.btn-close {
    float: right;
}

.input {
    width: 65%;
}

.spinner {
    position: absolute;
    size: 1%;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
