.btn-default {
  font-size: medium;
  padding: 2px;
}

.main-div {
  font-size: medium;
  text-align: center;
}

.editForm {
  width: 100%;
}

.divider{
  width:5px;
  height:auto;
  display:inline-block;
}

.main-container {
  height: 87vh;
  /* border: 1px solid rgba(0, 0, 0, 0.5); */
}

.sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
}

.sidenav {
   user-select: none;
   width: 120px;
}
