<html>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>
  <div class="main-div">
    <mat-card>
    <h1>{{courseName}} Overview</h1>
    <div>
      <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header ><mat-icon>golf_course</mat-icon>
                Hole 1
            </mat-expansion-panel-header>
            <div *ngIf="!isEdit; else editHole1">
              <p><strong>Hole description: </strong>{{info.hole_01_desc}}</p>
              <p><strong>Yards to hole: </strong>{{info.hole_01_yds}}</p>
              <p><strong>Strokes to par: </strong>{{info.hole_01_par}}</p>
            </div>
            <ng-template #editHole1>
              <form [formGroup]="newDataForm">
                <mat-form-field class="editForm">
                  <mat-label>Hole description</mat-label>
                  <textarea rows="5" matInput placeholder={{info.hole_01_desc}} id="value1" name="value1" [(ngModel)]="value1" formControlName="value1" type="value1"></textarea>
                </mat-form-field>
                <br>
                <mat-form-field>
                  <mat-label>Yards to hole</mat-label>
                  <input matInput placeholder={{info.hole_01_yds}} id="value2" name="value2" [(ngModel)]="value2" formControlName="value2" type="value2">
                </mat-form-field>
                <br>
                <mat-form-field>
                  <mat-label>Strokes to par</mat-label>
                  <input matInput placeholder={{info.hole_01_par}} id="value3" name="value3" [(ngModel)]="value3" formControlName="value3" type="value3">
                </mat-form-field>
              </form>
            </ng-template>
            <br>
            <button *ngIf="!isEdit" mat-raised-button color="secondary" type="button" (click)="doEdit()" class="btn-default">Edit</button>
            <button *ngIf="isEdit" mat-raised-button color="warn" type="button" (click)="cancelEdit()" class="btn-default">Cancel</button>
            <button *ngIf="isEdit" mat-raised-button color="primary" type="button"
            (click)="saveData('hole_01_desc', 'hole_01_yds', 'hole_01_par')" class="btn-default">Save</button>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header ><mat-icon>golf_course</mat-icon>
                Hole 2
            </mat-expansion-panel-header>
            <div *ngIf="!isEdit; else editHole2">
              <p><strong>Hole description: </strong>{{info.hole_02_desc}}</p>
              <p><strong>Yards to hole: </strong>{{info.hole_02_yds}}</p>
              <p><strong>Strokes to par: </strong>{{info.hole_02_par}}</p>
            </div>
            <ng-template #editHole2>
              <form [formGroup]="newDataForm">
                <mat-form-field class="editForm">
                  <mat-label>Hole description</mat-label>
                  <textarea rows="5" matInput placeholder={{info.hole_02_desc}} id="value1" name="value1" [(ngModel)]="value1" formControlName="value1" type="value1"></textarea>
                </mat-form-field>
                <br>
                <mat-form-field>
                  <mat-label>Yards to hole</mat-label>
                  <input matInput placeholder={{info.hole_02_yds}} id="value2" name="value2" [(ngModel)]="value2" formControlName="value2" type="value2">
                </mat-form-field>
                <br>
                <mat-form-field>
                  <mat-label>Strokes to par</mat-label>
                  <input matInput placeholder={{info.hole_02_par}} id="value3" name="value3" [(ngModel)]="value3" formControlName="value3" type="value3">
                </mat-form-field>
              </form>
            </ng-template>
            <br>
            <button *ngIf="!isEdit" mat-raised-button color="secondary" type="button" (click)="doEdit()" class="btn-default">Edit</button>
            <button *ngIf="isEdit" mat-raised-button color="warn" type="button" (click)="cancelEdit()" class="btn-default">Cancel</button>
            <button *ngIf="isEdit" mat-raised-button color="primary" type="button"
            (click)="saveData('hole_02_desc', 'hole_02_yds', 'hole_02_par')" class="btn-default">Save</button>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header ><mat-icon>golf_course</mat-icon>
                Hole 3
            </mat-expansion-panel-header>
            <div *ngIf="!isEdit; else editHole3">
              <p><strong>Hole description: </strong>{{info.hole_03_desc}}</p>
              <p><strong>Yards to hole: </strong>{{info.hole_03_yds}}</p>
              <p><strong>Strokes to par: </strong>{{info.hole_03_par}}</p>
            </div>
            <ng-template #editHole3>
              <form [formGroup]="newDataForm">
                <mat-form-field class="editForm">
                  <mat-label>Hole description</mat-label>
                  <textarea rows="5" matInput placeholder={{info.hole_03_desc}} id="value1" name="value1" [(ngModel)]="value1" formControlName="value1" type="value1"></textarea>
                </mat-form-field>
                <br>
                <mat-form-field>
                  <mat-label>Yards to hole</mat-label>
                  <input matInput placeholder={{info.hole_03_yds}} id="value2" name="value2" [(ngModel)]="value2" formControlName="value2" type="value2">
                </mat-form-field>
                <br>
                <mat-form-field>
                  <mat-label>Strokes to par</mat-label>
                  <input matInput placeholder={{info.hole_03_par}} id="value3" name="value3" [(ngModel)]="value3" formControlName="value3" type="value3">
                </mat-form-field>
              </form>
            </ng-template>
            <br>
            <button *ngIf="!isEdit" mat-raised-button color="secondary" type="button" (click)="doEdit()" class="btn-default">Edit</button>
            <button *ngIf="isEdit" mat-raised-button color="warn" type="button" (click)="cancelEdit()" class="btn-default">Cancel</button>
            <button *ngIf="isEdit" mat-raised-button color="primary" type="button"
            (click)="saveData('hole_03_desc', 'hole_03_yds', 'hole_03_par')" class="btn-default">Save</button>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header ><mat-icon>golf_course</mat-icon>
                Hole 4
            </mat-expansion-panel-header>
            <div *ngIf="!isEdit; else editHole4">
              <p><strong>Hole description: </strong>{{info.hole_04_desc}}</p>
              <p><strong>Yards to hole: </strong>{{info.hole_04_yds}}</p>
              <p><strong>Strokes to par: </strong>{{info.hole_04_par}}</p>
            </div>
            <ng-template #editHole4>
              <form [formGroup]="newDataForm">
                <mat-form-field class="editForm">
                  <mat-label>Hole description</mat-label>
                  <textarea rows="5" matInput placeholder={{info.hole_04_desc}} id="value1" name="value1" [(ngModel)]="value1" formControlName="value1" type="value1"></textarea>
                </mat-form-field>
                <br>
                <mat-form-field>
                  <mat-label>Yards to hole</mat-label>
                  <input matInput placeholder={{info.hole_04_yds}} id="value2" name="value2" [(ngModel)]="value2" formControlName="value2" type="value2">
                </mat-form-field>
                <br>
                <mat-form-field>
                  <mat-label>Strokes to par</mat-label>
                  <input matInput placeholder={{info.hole_04_par}} id="value3" name="value3" [(ngModel)]="value3" formControlName="value3" type="value3">
                </mat-form-field>
              </form>
            </ng-template>
            <br>
            <button *ngIf="!isEdit" mat-raised-button color="secondary" type="button" (click)="doEdit()" class="btn-default">Edit</button>
            <button *ngIf="isEdit" mat-raised-button color="warn" type="button" (click)="cancelEdit()" class="btn-default">Cancel</button>
            <button *ngIf="isEdit" mat-raised-button color="primary" type="button"
            (click)="saveData('hole_04_desc', 'hole_04_yds', 'hole_04_par')" class="btn-default">Save</button>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header ><mat-icon>golf_course</mat-icon>
                Hole 5
            </mat-expansion-panel-header>
            <div *ngIf="!isEdit; else editHole5">
              <p><strong>Hole description: </strong>{{info.hole_05_desc}}</p>
              <p><strong>Yards to hole: </strong>{{info.hole_05_yds}}</p>
              <p><strong>Strokes to par: </strong>{{info.hole_05_par}}</p>
            </div>
            <ng-template #editHole5>
              <form [formGroup]="newDataForm">
                <mat-form-field class="editForm">
                  <mat-label>Hole description</mat-label>
                  <textarea rows="5" matInput placeholder={{info.hole_05_desc}} id="value1" name="value1" [(ngModel)]="value1" formControlName="value1" type="value1"></textarea>
                </mat-form-field>
                <br>
                <mat-form-field>
                  <mat-label>Yards to hole</mat-label>
                  <input matInput placeholder={{info.hole_05_yds}} id="value2" name="value2" [(ngModel)]="value2" formControlName="value2" type="value2">
                </mat-form-field>
                <br>
                <mat-form-field>
                  <mat-label>Strokes to par</mat-label>
                  <input matInput placeholder={{info.hole_05_par}} id="value3" name="value3" [(ngModel)]="value3" formControlName="value3" type="value3">
                </mat-form-field>
              </form>
            </ng-template>
            <br>
            <button *ngIf="!isEdit" mat-raised-button color="secondary" type="button" (click)="doEdit()" class="btn-default">Edit</button>
            <button *ngIf="isEdit" mat-raised-button color="warn" type="button" (click)="cancelEdit()" class="btn-default">Cancel</button>
            <button *ngIf="isEdit" mat-raised-button color="primary" type="button"
            (click)="saveData('hole_05_desc', 'hole_05_yds', 'hole_05_par')" class="btn-default">Save</button>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header ><mat-icon>golf_course</mat-icon>
                Hole 6
            </mat-expansion-panel-header>
            <div *ngIf="!isEdit; else editHole6">
              <p><strong>Hole description: </strong>{{info.hole_06_desc}}</p>
              <p><strong>Yards to hole: </strong>{{info.hole_06_yds}}</p>
              <p><strong>Strokes to par: </strong>{{info.hole_06_par}}</p>
            </div>
            <ng-template #editHole6>
              <form [formGroup]="newDataForm">
                <mat-form-field class="editForm">
                  <mat-label>Hole description</mat-label>
                  <textarea rows="5" matInput placeholder={{info.hole_06_desc}} id="value1" name="value1" [(ngModel)]="value1" formControlName="value1" type="value1"></textarea>
                </mat-form-field>
                <br>
                <mat-form-field>
                  <mat-label>Yards to hole</mat-label>
                  <input matInput placeholder={{info.hole_06_yds}} id="value2" name="value2" [(ngModel)]="value2" formControlName="value2" type="value2">
                </mat-form-field>
                <br>
                <mat-form-field>
                  <mat-label>Strokes to par</mat-label>
                  <input matInput placeholder={{info.hole_06_par}} id="value3" name="value3" [(ngModel)]="value3" formControlName="value3" type="value3">
                </mat-form-field>
              </form>
            </ng-template>
            <br>
            <button *ngIf="!isEdit" mat-raised-button color="secondary" type="button" (click)="doEdit()" class="btn-default">Edit</button>
            <button *ngIf="isEdit" mat-raised-button color="warn" type="button" (click)="cancelEdit()" class="btn-default">Cancel</button>
            <button *ngIf="isEdit" mat-raised-button color="primary" type="button"
            (click)="saveData('hole_06_desc', 'hole_06_yds', 'hole_06_par')" class="btn-default">Save</button>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header ><mat-icon>golf_course</mat-icon>
                Hole 7
            </mat-expansion-panel-header>
            <div *ngIf="!isEdit; else editHole7">
              <p><strong>Hole description: </strong>{{info.hole_07_desc}}</p>
              <p><strong>Yards to hole: </strong>{{info.hole_07_yds}}</p>
              <p><strong>Strokes to par: </strong>{{info.hole_07_par}}</p>
            </div>
            <ng-template #editHole7>
              <form [formGroup]="newDataForm">
                <mat-form-field class="editForm">
                  <mat-label>Hole description</mat-label>
                  <textarea rows="5" matInput placeholder={{info.hole_07_desc}} id="value1" name="value1" [(ngModel)]="value1" formControlName="value1" type="value1"></textarea>
                </mat-form-field>
                <br>
                <mat-form-field>
                  <mat-label>Yards to hole</mat-label>
                  <input matInput placeholder={{info.hole_07_yds}} id="value2" name="value2" [(ngModel)]="value2" formControlName="value2" type="value2">
                </mat-form-field>
                <br>
                <mat-form-field>
                  <mat-label>Strokes to par</mat-label>
                  <input matInput placeholder={{info.hole_07_par}} id="value3" name="value3" [(ngModel)]="value3" formControlName="value3" type="value3">
                </mat-form-field>
              </form>
            </ng-template>
            <br>
            <button *ngIf="!isEdit" mat-raised-button color="secondary" type="button" (click)="doEdit()" class="btn-default">Edit</button>
            <button *ngIf="isEdit" mat-raised-button color="warn" type="button" (click)="cancelEdit()" class="btn-default">Cancel</button>
            <button *ngIf="isEdit" mat-raised-button color="primary" type="button"
            (click)="saveData('hole_07_desc', 'hole_07_yds', 'hole_07_par')" class="btn-default">Save</button>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header ><mat-icon>golf_course</mat-icon>
                Hole 8
            </mat-expansion-panel-header>
            <div *ngIf="!isEdit; else editHole8">
              <p><strong>Hole description: </strong>{{info.hole_08_desc}}</p>
              <p><strong>Yards to hole: </strong>{{info.hole_08_yds}}</p>
              <p><strong>Strokes to par: </strong>{{info.hole_08_par}}</p>
            </div>
            <ng-template #editHole8>
              <form [formGroup]="newDataForm">
                <mat-form-field class="editForm">
                  <mat-label>Hole description</mat-label>
                  <textarea rows="5" matInput placeholder={{info.hole_08_desc}} id="value1" name="value1" [(ngModel)]="value1" formControlName="value1" type="value1"></textarea>
                </mat-form-field>
                <br>
                <mat-form-field>
                  <mat-label>Yards to hole</mat-label>
                  <input matInput placeholder={{info.hole_08_yds}} id="value2" name="value2" [(ngModel)]="value2" formControlName="value2" type="value2">
                </mat-form-field>
                <br>
                <mat-form-field>
                  <mat-label>Strokes to par</mat-label>
                  <input matInput placeholder={{info.hole_08_par}} id="value3" name="value3" [(ngModel)]="value3" formControlName="value3" type="value3">
                </mat-form-field>
              </form>
            </ng-template>
            <br>
            <button *ngIf="!isEdit" mat-raised-button color="secondary" type="button" (click)="doEdit()" class="btn-default">Edit</button>
            <button *ngIf="isEdit" mat-raised-button color="warn" type="button" (click)="cancelEdit()" class="btn-default">Cancel</button>
            <button *ngIf="isEdit" mat-raised-button color="primary" type="button"
            (click)="saveData('hole_08_desc', 'hole_08_yds', 'hole_08_par')" class="btn-default">Save</button>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header ><mat-icon>golf_course</mat-icon>
                Hole 9
            </mat-expansion-panel-header>
            <div *ngIf="!isEdit; else editHole9">
              <p><strong>Hole description: </strong>{{info.hole_09_desc}}</p>
              <p><strong>Yards to hole: </strong>{{info.hole_09_yds}}</p>
              <p><strong>Strokes to par: </strong>{{info.hole_09_par}}</p>
            </div>
            <ng-template #editHole9>
              <form [formGroup]="newDataForm">
                <mat-form-field class="editForm">
                  <mat-label>Hole description</mat-label>
                  <textarea rows="5" matInput placeholder={{info.hole_09_desc}} id="value1" name="value1" [(ngModel)]="value1" formControlName="value1" type="value1"></textarea>
                </mat-form-field>
                <br>
                <mat-form-field>
                  <mat-label>Yards to hole</mat-label>
                  <input matInput placeholder={{info.hole_09_yds}} id="value2" name="value2" [(ngModel)]="value2" formControlName="value2" type="value2">
                </mat-form-field>
                <br>
                <mat-form-field>
                  <mat-label>Strokes to par</mat-label>
                  <input matInput placeholder={{info.hole_09_par}} id="value3" name="value3" [(ngModel)]="value3" formControlName="value3" type="value3">
                </mat-form-field>
              </form>
            </ng-template>
            <br>
            <button *ngIf="!isEdit" mat-raised-button color="secondary" type="button" (click)="doEdit()" class="btn-default">Edit</button>
            <button *ngIf="isEdit" mat-raised-button color="warn" type="button" (click)="cancelEdit()" class="btn-default">Cancel</button>
            <button *ngIf="isEdit" mat-raised-button color="primary" type="button"
            (click)="saveData('hole_09_desc', 'hole_09_yds', 'hole_09_par')" class="btn-default">Save</button>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header ><mat-icon>golf_course</mat-icon>
                Hole 10
            </mat-expansion-panel-header>
            <div *ngIf="!isEdit; else editHole10">
              <p><strong>Hole description: </strong>{{info.hole_10_desc}}</p>
              <p><strong>Yards to hole: </strong>{{info.hole_10_yds}}</p>
              <p><strong>Strokes to par: </strong>{{info.hole_10_par}}</p>
            </div>
            <ng-template #editHole10>
              <form [formGroup]="newDataForm">
                <mat-form-field class="editForm">
                  <mat-label>Hole description</mat-label>
                  <textarea rows="5" matInput placeholder={{info.hole_10_desc}} id="value1" name="value1" [(ngModel)]="value1" formControlName="value1" type="value1"></textarea>
                </mat-form-field>
                <br>
                <mat-form-field>
                  <mat-label>Yards to hole</mat-label>
                  <input matInput placeholder={{info.hole_10_yds}} id="value2" name="value2" [(ngModel)]="value2" formControlName="value2" type="value2">
                </mat-form-field>
                <br>
                <mat-form-field>
                  <mat-label>Strokes to par</mat-label>
                  <input matInput placeholder={{info.hole_10_par}} id="value3" name="value3" [(ngModel)]="value3" formControlName="value3" type="value3">
                </mat-form-field>
              </form>
            </ng-template>
            <br>
            <button *ngIf="!isEdit" mat-raised-button color="secondary" type="button" (click)="doEdit()" class="btn-default">Edit</button>
            <button *ngIf="isEdit" mat-raised-button color="warn" type="button" (click)="cancelEdit()" class="btn-default">Cancel</button>
            <button *ngIf="isEdit" mat-raised-button color="primary" type="button"
            (click)="saveData('hole_10_desc', 'hole_10_yds', 'hole_10_par')" class="btn-default">Save</button>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header ><mat-icon>golf_course</mat-icon>
                Hole 11
            </mat-expansion-panel-header>
            <div *ngIf="!isEdit; else editHole11">
              <p><strong>Hole description: </strong>{{info.hole_11_desc}}</p>
              <p><strong>Yards to hole: </strong>{{info.hole_11_yds}}</p>
              <p><strong>Strokes to par: </strong>{{info.hole_11_par}}</p>
            </div>
            <ng-template #editHole11>
              <form [formGroup]="newDataForm">
                <mat-form-field class="editForm">
                  <mat-label>Hole description</mat-label>
                  <textarea rows="5" matInput placeholder={{info.hole_11_desc}} id="value1" name="value1" [(ngModel)]="value1" formControlName="value1" type="value1"></textarea>
                </mat-form-field>
                <br>
                <mat-form-field>
                  <mat-label>Yards to hole</mat-label>
                  <input matInput placeholder={{info.hole_11_yds}} id="value2" name="value2" [(ngModel)]="value2" formControlName="value2" type="value2">
                </mat-form-field>
                <br>
                <mat-form-field>
                  <mat-label>Strokes to par</mat-label>
                  <input matInput placeholder={{info.hole_11_par}} id="value3" name="value3" [(ngModel)]="value3" formControlName="value3" type="value3">
                </mat-form-field>
              </form>
            </ng-template>
            <br>
            <button *ngIf="!isEdit" mat-raised-button color="secondary" type="button" (click)="doEdit()" class="btn-default">Edit</button>
            <button *ngIf="isEdit" mat-raised-button color="warn" type="button" (click)="cancelEdit()" class="btn-default">Cancel</button>
            <button *ngIf="isEdit" mat-raised-button color="primary" type="button"
            (click)="saveData('hole_11_desc', 'hole_11_yds', 'hole_11_par')" class="btn-default">Save</button>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header ><mat-icon>golf_course</mat-icon>
                Hole 12
            </mat-expansion-panel-header>
            <div *ngIf="!isEdit; else editHole12">
              <p><strong>Hole description: </strong>{{info.hole_12_desc}}</p>
              <p><strong>Yards to hole: </strong>{{info.hole_12_yds}}</p>
              <p><strong>Strokes to par: </strong>{{info.hole_12_par}}</p>
            </div>
            <ng-template #editHole12>
              <form [formGroup]="newDataForm">
                <mat-form-field class="editForm">
                  <mat-label>Hole description</mat-label>
                  <textarea rows="5" matInput placeholder={{info.hole_12_desc}} id="value1" name="value1" [(ngModel)]="value1" formControlName="value1" type="value1"></textarea>
                </mat-form-field>
                <br>
                <mat-form-field>
                  <mat-label>Yards to hole</mat-label>
                  <input matInput placeholder={{info.hole_12_yds}} id="value2" name="value2" [(ngModel)]="value2" formControlName="value2" type="value2">
                </mat-form-field>
                <br>
                <mat-form-field>
                  <mat-label>Strokes to par</mat-label>
                  <input matInput placeholder={{info.hole_12_par}} id="value3" name="value3" [(ngModel)]="value3" formControlName="value3" type="value3">
                </mat-form-field>
              </form>
            </ng-template>
            <br>
            <button *ngIf="!isEdit" mat-raised-button color="secondary" type="button" (click)="doEdit()" class="btn-default">Edit</button>
            <button *ngIf="isEdit" mat-raised-button color="warn" type="button" (click)="cancelEdit()" class="btn-default">Cancel</button>
            <button *ngIf="isEdit" mat-raised-button color="primary" type="button"
            (click)="saveData('hole_12_desc', 'hole_12_yds', 'hole_12_par')" class="btn-default">Save</button>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header ><mat-icon>golf_course</mat-icon>
                Hole 13
            </mat-expansion-panel-header>
            <div *ngIf="!isEdit; else editHole13">
              <p><strong>Hole description: </strong>{{info.hole_13_desc}}</p>
              <p><strong>Yards to hole: </strong>{{info.hole_13_yds}}</p>
              <p><strong>Strokes to par: </strong>{{info.hole_13_par}}</p>
            </div>
            <ng-template #editHole13>
              <form [formGroup]="newDataForm">
                <mat-form-field class="editForm">
                  <mat-label>Hole description</mat-label>
                  <textarea rows="5" matInput placeholder={{info.hole_13_desc}} id="value1" name="value1" [(ngModel)]="value1" formControlName="value1" type="value1"></textarea>
                </mat-form-field>
                <br>
                <mat-form-field>
                  <mat-label>Yards to hole</mat-label>
                  <input matInput placeholder={{info.hole_13_yds}} id="value2" name="value2" [(ngModel)]="value2" formControlName="value2" type="value2">
                </mat-form-field>
                <br>
                <mat-form-field>
                  <mat-label>Strokes to par</mat-label>
                  <input matInput placeholder={{info.hole_13_par}} id="value3" name="value3" [(ngModel)]="value3" formControlName="value3" type="value3">
                </mat-form-field>
              </form>
            </ng-template>
            <br>
            <button *ngIf="!isEdit" mat-raised-button color="secondary" type="button" (click)="doEdit()" class="btn-default">Edit</button>
            <button *ngIf="isEdit" mat-raised-button color="warn" type="button" (click)="cancelEdit()" class="btn-default">Cancel</button>
            <button *ngIf="isEdit" mat-raised-button color="primary" type="button"
            (click)="saveData('hole_13_desc', 'hole_13_yds', 'hole_13_par')" class="btn-default">Save</button>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header ><mat-icon>golf_course</mat-icon>
                Hole 14
            </mat-expansion-panel-header>
            <div *ngIf="!isEdit; else editHole14">
              <p><strong>Hole description: </strong>{{info.hole_14_desc}}</p>
              <p><strong>Yards to hole: </strong>{{info.hole_14_yds}}</p>
              <p><strong>Strokes to par: </strong>{{info.hole_14_par}}</p>
            </div>
            <ng-template #editHole14>
              <form [formGroup]="newDataForm">
                <mat-form-field class="editForm">
                  <mat-label>Hole description</mat-label>
                  <textarea rows="5" matInput placeholder={{info.hole_14_desc}} id="value1" name="value1" [(ngModel)]="value1" formControlName="value1" type="value1"></textarea>
                </mat-form-field>
                <br>
                <mat-form-field>
                  <mat-label>Yards to hole</mat-label>
                  <input matInput placeholder={{info.hole_14_yds}} id="value2" name="value2" [(ngModel)]="value2" formControlName="value2" type="value2">
                </mat-form-field>
                <br>
                <mat-form-field>
                  <mat-label>Strokes to par</mat-label>
                  <input matInput placeholder={{info.hole_14_par}} id="value3" name="value3" [(ngModel)]="value3" formControlName="value3" type="value3">
                </mat-form-field>
              </form>
            </ng-template>
            <br>
            <button *ngIf="!isEdit" mat-raised-button color="secondary" type="button" (click)="doEdit()" class="btn-default">Edit</button>
            <button *ngIf="isEdit" mat-raised-button color="warn" type="button" (click)="cancelEdit()" class="btn-default">Cancel</button>
            <button *ngIf="isEdit" mat-raised-button color="primary" type="button"
            (click)="saveData('hole_14_desc', 'hole_14_yds', 'hole_14_par')" class="btn-default">Save</button>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header ><mat-icon>golf_course</mat-icon>
                Hole 15
            </mat-expansion-panel-header>
            <div *ngIf="!isEdit; else editHole15">
              <p><strong>Hole description: </strong>{{info.hole_15_desc}}</p>
              <p><strong>Yards to hole: </strong>{{info.hole_15_yds}}</p>
              <p><strong>Strokes to par: </strong>{{info.hole_15_par}}</p>
            </div>
            <ng-template #editHole15>
              <form [formGroup]="newDataForm">
                <mat-form-field class="editForm">
                  <mat-label>Hole description</mat-label>
                  <textarea rows="5" matInput placeholder={{info.hole_15_desc}} id="value1" name="value1" [(ngModel)]="value1" formControlName="value1" type="value1"></textarea>
                </mat-form-field>
                <br>
                <mat-form-field>
                  <mat-label>Yards to hole</mat-label>
                  <input matInput placeholder={{info.hole_15_yds}} id="value2" name="value2" [(ngModel)]="value2" formControlName="value2" type="value2">
                </mat-form-field>
                <br>
                <mat-form-field>
                  <mat-label>Strokes to par</mat-label>
                  <input matInput placeholder={{info.hole_15_par}} id="value3" name="value3" [(ngModel)]="value3" formControlName="value3" type="value3">
                </mat-form-field>
              </form>
            </ng-template>
            <br>
            <button *ngIf="!isEdit" mat-raised-button color="secondary" type="button" (click)="doEdit()" class="btn-default">Edit</button>
            <button *ngIf="isEdit" mat-raised-button color="warn" type="button" (click)="cancelEdit()" class="btn-default">Cancel</button>
            <button *ngIf="isEdit" mat-raised-button color="primary" type="button"
            (click)="saveData('hole_15_desc', 'hole_15_yds', 'hole_15_par')" class="btn-default">Save</button>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header ><mat-icon>golf_course</mat-icon>
                Hole 16
            </mat-expansion-panel-header>
            <div *ngIf="!isEdit; else editHole16">
              <p><strong>Hole description: </strong>{{info.hole_16_desc}}</p>
              <p><strong>Yards to hole: </strong>{{info.hole_16_yds}}</p>
              <p><strong>Strokes to par: </strong>{{info.hole_16_par}}</p>
            </div>
            <ng-template #editHole16>
              <form [formGroup]="newDataForm">
                <mat-form-field class="editForm">
                  <mat-label>Hole description</mat-label>
                  <textarea rows="5" matInput placeholder={{info.hole_16_desc}} id="value1" name="value1" [(ngModel)]="value1" formControlName="value1" type="value1"></textarea>
                </mat-form-field>
                <br>
                <mat-form-field>
                  <mat-label>Yards to hole</mat-label>
                  <input matInput placeholder={{info.hole_16_yds}} id="value2" name="value2" [(ngModel)]="value2" formControlName="value2" type="value2">
                </mat-form-field>
                <br>
                <mat-form-field>
                  <mat-label>Strokes to par</mat-label>
                  <input matInput placeholder={{info.hole_16_par}} id="value3" name="value3" [(ngModel)]="value3" formControlName="value3" type="value3">
                </mat-form-field>
              </form>
            </ng-template>
            <br>
            <button *ngIf="!isEdit" mat-raised-button color="secondary" type="button" (click)="doEdit()" class="btn-default">Edit</button>
            <button *ngIf="isEdit" mat-raised-button color="warn" type="button" (click)="cancelEdit()" class="btn-default">Cancel</button>
            <button *ngIf="isEdit" mat-raised-button color="primary" type="button"
            (click)="saveData('hole_16_desc', 'hole_16_yds', 'hole_16_par')" class="btn-default">Save</button>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header ><mat-icon>golf_course</mat-icon>
                Hole 17
            </mat-expansion-panel-header>
            <div *ngIf="!isEdit; else editHole17">
              <p><strong>Hole description: </strong>{{info.hole_17_desc}}</p>
              <p><strong>Yards to hole: </strong>{{info.hole_17_yds}}</p>
              <p><strong>Strokes to par: </strong>{{info.hole_17_par}}</p>
            </div>
            <ng-template #editHole17>
              <form [formGroup]="newDataForm">
                <mat-form-field class="editForm">
                  <mat-label>Hole description</mat-label>
                  <textarea rows="5" matInput placeholder={{info.hole_17_desc}} id="value1" name="value1" [(ngModel)]="value1" formControlName="value1" type="value1"></textarea>
                </mat-form-field>
                <br>
                <mat-form-field>
                  <mat-label>Yards to hole</mat-label>
                  <input matInput placeholder={{info.hole_17_yds}} id="value2" name="value2" [(ngModel)]="value2" formControlName="value2" type="value2">
                </mat-form-field>
                <br>
                <mat-form-field>
                  <mat-label>Strokes to par</mat-label>
                  <input matInput placeholder={{info.hole_17_par}} id="value3" name="value3" [(ngModel)]="value3" formControlName="value3" type="value3">
                </mat-form-field>
              </form>
            </ng-template>
            <br>
            <button *ngIf="!isEdit" mat-raised-button color="secondary" type="button" (click)="doEdit()" class="btn-default">Edit</button>
            <button *ngIf="isEdit" mat-raised-button color="warn" type="button" (click)="cancelEdit()" class="btn-default">Cancel</button>
            <button *ngIf="isEdit" mat-raised-button color="primary" type="button"
            (click)="saveData('hole_17_desc', 'hole_17_yds', 'hole_17_par')" class="btn-default">Save</button>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header ><mat-icon>golf_course</mat-icon>
                Hole 18
            </mat-expansion-panel-header>
            <div *ngIf="!isEdit; else editHole18">
              <p><strong>Hole description: </strong>{{info.hole_18_desc}}</p>
              <p><strong>Yards to hole: </strong>{{info.hole_18_yds}}</p>
              <p><strong>Strokes to par: </strong>{{info.hole_18_par}}</p>
            </div>
            <ng-template #editHole18>
              <form [formGroup]="newDataForm">
                <mat-form-field class="editForm">
                  <mat-label>Hole description</mat-label>
                  <textarea rows="5" matInput placeholder={{info.hole_18_desc}} id="value1" name="value1" [(ngModel)]="value1" formControlName="value1" type="value1"></textarea>
                </mat-form-field>
                <br>
                <mat-form-field>
                  <mat-label>Yards to hole</mat-label>
                  <input matInput placeholder={{info.hole_18_yds}} id="value2" name="value2" [(ngModel)]="value2" formControlName="value2" type="value2">
                </mat-form-field>
                <br>
                <mat-form-field>
                  <mat-label>Strokes to par</mat-label>
                  <input matInput placeholder={{info.hole_18_par}} id="value3" name="value3" [(ngModel)]="value3" formControlName="value3" type="value3">
                </mat-form-field>
              </form>
            </ng-template>
            <br>
            <button *ngIf="!isEdit" mat-raised-button color="secondary" type="button" (click)="doEdit()" class="btn-default">Edit</button>
            <button *ngIf="isEdit" mat-raised-button color="warn" type="button" (click)="cancelEdit()" class="btn-default">Cancel</button>
            <button *ngIf="isEdit" mat-raised-button color="primary" type="button"
            (click)="saveData('hole_18_desc', 'hole_18_yds', 'hole_18_par')" class="btn-default">Save</button>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </mat-card>
  </div>
</body>
</html>
