<html>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>
  <div class="main-div">
    <mat-card>
    <h1>{{courseName}} Overview</h1>
    <div class = "col-md-6">
      <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header ><mat-icon>golf_course</mat-icon>
                Hole 1
            </mat-expansion-panel-header>
            <p><strong>Hole description: </strong>{{info.hole_01_desc}}</p>
            <p><strong>Yards to hole: </strong>{{info.hole_01_yds}}</p>
            <p><strong>Strokes to par: </strong>{{info.hole_01_par}}</p>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header ><mat-icon>golf_course</mat-icon>
                Hole 2
            </mat-expansion-panel-header>
            <p><strong>Hole description: </strong>{{info.hole_02_desc}}</p>
            <p><strong>Yards to hole: </strong>{{info.hole_02_yds}}</p>
            <p><strong>Strokes to par: </strong>{{info.hole_02_par}}</p>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header ><mat-icon>golf_course</mat-icon>
                Hole 3
            </mat-expansion-panel-header>
            <p><strong>Hole description: </strong>{{info.hole_03_desc}}</p>
            <p><strong>Yards to hole: </strong>{{info.hole_03_yds}}</p>
            <p><strong>Strokes to par: </strong>{{info.hole_03_par}}</p>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header ><mat-icon>golf_course</mat-icon>
                Hole 4
            </mat-expansion-panel-header>
            <p><strong>Hole description: </strong>{{info.hole_04_desc}}</p>
            <p><strong>Yards to hole: </strong>{{info.hole_04_yds}}</p>
            <p><strong>Strokes to par: </strong>{{info.hole_04_par}}</p>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header ><mat-icon>golf_course</mat-icon>
                Hole 5
            </mat-expansion-panel-header>
            <p><strong>Hole description: </strong>{{info.hole_05_desc}}</p>
            <p><strong>Yards to hole: </strong>{{info.hole_05_yds}}</p>
            <p><strong>Strokes to par: </strong>{{info.hole_05_par}}</p>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header ><mat-icon>golf_course</mat-icon>
                Hole 6
            </mat-expansion-panel-header>
            <p><strong>Hole description: </strong>{{info.hole_06_desc}}</p>
            <p><strong>Yards to hole: </strong>{{info.hole_06_yds}}</p>
            <p><strong>Strokes to par: </strong>{{info.hole_06_par}}</p>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header ><mat-icon>golf_course</mat-icon>
                Hole 7
            </mat-expansion-panel-header>
            <p><strong>Hole description: </strong>{{info.hole_07_desc}}</p>
            <p><strong>Yards to hole: </strong>{{info.hole_07_yds}}</p>
            <p><strong>Strokes to par: </strong>{{info.hole_07_par}}</p>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header ><mat-icon>golf_course</mat-icon>
                Hole 8
            </mat-expansion-panel-header>
            <p><strong>Hole description: </strong>{{info.hole_08_desc}}</p>
            <p><strong>Yards to hole: </strong>{{info.hole_08_yds}}</p>
            <p><strong>Strokes to par: </strong>{{info.hole_08_par}}</p>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header ><mat-icon>golf_course</mat-icon>
                Hole 9
            </mat-expansion-panel-header>
            <p><strong>Hole description: </strong>{{info.hole_09_desc}}</p>
            <p><strong>Yards to hole: </strong>{{info.hole_09_yds}}</p>
            <p><strong>Strokes to par: </strong>{{info.hole_09_par}}</p>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header ><mat-icon>golf_course</mat-icon>
                Hole 10
            </mat-expansion-panel-header>
            <p><strong>Hole description: </strong>{{info.hole_10_desc}}</p>
            <p><strong>Yards to hole: </strong>{{info.hole_10_yds}}</p>
            <p><strong>Strokes to par: </strong>{{info.hole_10_par}}</p>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header ><mat-icon>golf_course</mat-icon>
                Hole 11
            </mat-expansion-panel-header>
            <p><strong>Hole description: </strong>{{info.hole_11_desc}}</p>
            <p><strong>Yards to hole: </strong>{{info.hole_11_yds}}</p>
            <p><strong>Strokes to par: </strong>{{info.hole_11_par}}</p>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header ><mat-icon>golf_course</mat-icon>
                Hole 12
            </mat-expansion-panel-header>
            <p><strong>Hole description: </strong>{{info.hole_12_desc}}</p>
            <p><strong>Yards to hole: </strong>{{info.hole_12_yds}}</p>
            <p><strong>Strokes to par: </strong>{{info.hole_12_par}}</p>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header ><mat-icon>golf_course</mat-icon>
                Hole 13
            </mat-expansion-panel-header>
            <p><strong>Hole description: </strong>{{info.hole_13_desc}}</p>
            <p><strong>Yards to hole: </strong>{{info.hole_13_yds}}</p>
            <p><strong>Strokes to par: </strong>{{info.hole_13_par}}</p>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header ><mat-icon>golf_course</mat-icon>
                Hole 14
            </mat-expansion-panel-header>
            <p><strong>Hole description: </strong>{{info.hole_14_desc}}</p>
            <p><strong>Yards to hole: </strong>{{info.hole_14_yds}}</p>
            <p><strong>Strokes to par: </strong>{{info.hole_14_par}}</p>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header ><mat-icon>golf_course</mat-icon>
                Hole 15
            </mat-expansion-panel-header>
            <p><strong>Hole description: </strong>{{info.hole_15_desc}}</p>
            <p><strong>Yards to hole: </strong>{{info.hole_15_yds}}</p>
            <p><strong>Strokes to par: </strong>{{info.hole_15_par}}</p>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header ><mat-icon>golf_course</mat-icon>
                Hole 16
            </mat-expansion-panel-header>
            <p><strong>Hole description: </strong>{{info.hole_16_desc}}</p>
            <p><strong>Yards to hole: </strong>{{info.hole_16_yds}}</p>
            <p><strong>Strokes to par: </strong>{{info.hole_16_par}}</p>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header ><mat-icon>golf_course</mat-icon>
                Hole 17
            </mat-expansion-panel-header>
            <p><strong>Hole description: </strong>{{info.hole_17_desc}}</p>
            <p><strong>Yards to hole: </strong>{{info.hole_17_yds}}</p>
            <p><strong>Strokes to par: </strong>{{info.hole_17_par}}</p>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header ><mat-icon>golf_course</mat-icon>
                Hole 18
            </mat-expansion-panel-header>
            <p><strong>Hole description: </strong>{{info.hole_18_desc}}</p>
            <p><strong>Yards to hole: </strong>{{info.hole_18_yds}}</p>
            <p><strong>Strokes to par: </strong>{{info.hole_18_par}}</p>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </mat-card>
  </div>
</body>
</html>
