#body {
  width: 100%;
  height: 100%;
}

.main-container {
  height: 100%;
}

.sidenav-container {
  display: flex;
  min-height: 93vh;
}

.sidenav-content {
  display: flex;
  height: 100%;
  width: auto;
  min-height: 100%;
  min-width: 100%;
  flex: auto;
  position: relative;
  overflow: auto;
}

.sidenav {
   user-select: none;
   width: fit-content;
   justify-content: center;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.md-fab-bottom-right{
  position: fixed !important;
  right: 20px;
  bottom: 20px;
  z-index: 10;
}
