.button {
    height: 40px;
    width: 190px;
}

.main-div {
    text-align: center;
    font-size: medium;
}

.divider {
    width:5px;
    height:auto;
    display:inline-block;
}

.expander {
    margin-top: 1%;
    text-align: right;
    margin-bottom: 1%;
}

.accordionContent {
    font-weight: 500;
    font-size: medium;
}

.center{
    margin: auto;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}

.buttons{
    text-align: center;
    justify-content: center;
    display: flex;
    bottom: 0;
}

.row{
    margin-top: 10px;
}

.error{
    color: red;
    font-size: medium;
}

.success {
    color: green;
    font-size: medium;
}

.input {
    width: 20%;
}
