<div class="main-div">
    <mat-card>
    <h1>Golf Player Time Management Support</h1>
    <div class="expander">
        <button mat-raised-button color="secondary" type="button" (click)="accordion.openAll()" class="btn-default">Expand All </button>
        <div class="divider"></div>
        <button mat-raised-button color="secondary" type="button"  (click)="accordion.closeAll()" class="btn-default">Collapse All </button>
    </div>
        <mat-accordion #accordion="matAccordion" [multi]="true">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    Entering information for your course
                </mat-expansion-panel-header>
                <p class="accordionContent">Follow the steps below to enter or edit course information</p>
                <p>On the home page click on the course overview tab</p>
                <p>Once there, click on the pencil icon on panel for the hole that you wish to edit</p>
                <p>Enter the details and then click save to save. If there is a mistake you can edit this as many times as you wish</p>
                <p>If the information was saved then the tab will change to a non-editable mode</p>
                <p>If not, then re-enter the information and try again</p>
                <p>This information is what players will see when visiting your course</p>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    Geofencing holes
                </mat-expansion-panel-header>
                <p class="accordionContent">Follow the steps below to draw hole boundaries</p>
                <p>Navigate to the Course Overview tab</p>
                <p>With any hole selected from the navbar look at the general information card</p>
                <p>Click on the map icon to launch the map</p>
                <p>First, place a marker on the location of the hole by clicking on the map</p>
                <p>Next, draw the outline of the hole by clicking the polygon icon in the top left</p>
                <p>If a mistake is made the undo button will clear the drawn overlay. The marker is always moveable</p>
                <p>There is a fullsceen button in the top right corner, zoom controls in the bottom right, and a drag button on the top left</p>
                <p>Pressing the close button will close the map window without saving</p>
                <p>When finished hit the save button to save the information</p>
                <p>Each time the map is launched it will be cleared of all previous overlays</p>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    Download the mobile app
                </mat-expansion-panel-header>
                <p style="font-weight: 500; font-size: medium;">Click on the button below to download the app!</p>
                <p><button mat-button mat-flat-button color="primary" class="button" (click)=appDownload()><a style="color: white;">Download GPTM Mobile</a></button></p>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    Contact Us
                </mat-expansion-panel-header>
                <!-- Actual email I created so that it looks better -->
                <p style="font-weight: 500; font-size: medium;">Email any discovered issues and/or feature requests to us at support@email.com</p>
            </mat-expansion-panel>
        </mat-accordion>
        <!-- <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    License
                </mat-expansion-panel-header> -->
                <!-- Standard open source license -->
                <!-- <p style="font-weight: 500; font-size: medium;">The MIT License</p>
                <p>Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated 
                    documentation files (the "Software"), to deal in the Software without restriction, including without 
                    limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies 
                    of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following 
                    conditions:</p>
                    <p>This permission notice shall be included in all copies or substantial portions 
                        of the Software.</p>
                    <p>THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED 
                        TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL 
                        THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF 
                        CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER 
                        DEALINGS IN THE SOFTWARE.</p>
            </mat-expansion-panel>
        </mat-accordion> -->
    </mat-card>
</div>
