<div style="text-align: center;">
    <mat-card>
    <h1>Documentation, Support, and License</h1>
    <div>
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    Registering a new player
                </mat-expansion-panel-header>
                <p style="font-weight: 500; font-size: medium;">Follow the steps below to register a new player</p>
                <p>On the home page click on the register tab.</p>
                <p>Once there, enter the player's desired login credentials.</p>
                <p>Click submit to save. If there is a mistake the account can always be reset at a later date.</p>
                <p>If the success message displays then the account has been created.</p>
                <p>If not, then reload the page and try again.</p>
            </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    Download the mobile app
                </mat-expansion-panel-header>
                <p style="font-weight: 500; font-size: medium;">Click on the button below to download the app!</p>
                <p><button mat-button mat-flat-button color="primary" class="button" (click)=appDownload()><a style="color: white;">Download GPTM Mobile</a></button></p>
            </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    Contact Us
                </mat-expansion-panel-header>
                <!-- Actual email I created so that it looks better -->
                <p style="font-weight: 500; font-size: medium;">Email any discovered issues and/or feature requests to us at support@email.com</p>
            </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    License
                </mat-expansion-panel-header>
                <!-- Standard open source license -->
                <p style="font-weight: 500; font-size: medium;">The MIT License</p>
                <p>Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated 
                    documentation files (the "Software"), to deal in the Software without restriction, including without 
                    limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies 
                    of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following 
                    conditions:</p>
                    <p>This permission notice shall be included in all copies or substantial portions 
                        of the Software.</p>
                    <p>THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED 
                        TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL 
                        THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF 
                        CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER 
                        DEALINGS IN THE SOFTWARE.</p>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
    </mat-card>
</div>
