<div class="main-div">
    <mat-card>
    <!-- <h1>Golf Player Time Management Support</h1> -->
        <div class="expander">
            <button mat-raised-button color="secondary" type="button" (click)="accordion.openAll()" class="btn-default">Expand All </button>
            <div class="divider"></div>
            <button mat-raised-button color="secondary" type="button"  (click)="accordion.closeAll()" class="btn-default">Collapse All </button>
        </div>
        <mat-accordion #accordion="matAccordion" [multi]="true">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    Managing player requests
                </mat-expansion-panel-header>
                <p class="accordionContent">Follow the steps below to efficiently manage player requests</p>
                <p>On the home page click on the player overview tab</p>
                <p>Once there, refer to the player requests card</p>
                <p>This card shows all active requests that have been made by players at your course</p>
                <p>If a request has been completed click on the check mark button on the right of the table</p>
                <p>Clicking on this button will permanently remove the request so be certain that the request has been completed</p>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    Viewing active games
                </mat-expansion-panel-header>
                <p class="accordionContent">Follow the steps below to view active games</p>
                <p>On the home page click on the player overview tab</p>
                <p>Once there, refer to the active games card</p>
                <p>This card shows all games that are currently in progress at your course</p>
                <p>This table orders by the hole number so it is a good gauge of congestion on your course</p>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    Reading course congestion
                </mat-expansion-panel-header>
                <p class="accordionContent">Follow the steps below to read course congestion data</p>
                <p>In order for the system to estimate wait times you <strong>MUST</strong> have the par number inputted for each hole</p>
                <p>On the home page click on the course overview tab</p>
                <p>Once there, you will see a page with tables</p>
                <p>The table titled 'Estimated Wait Time in Minutes' is a line chart backed by live estimates of wait times on your course</p>
                <p><strong>KEEP IN MIND</strong> that this is only an estimate and play speeds will vary for groups</p>
                <p>The x-axis represents the hole number and the y-axis represents time in minutes</p>
                <p>Hovering your mouse over any point will show an information box that gives you the time in minutes</p>
                <p>The table below shows that same information in a different format</p>
                <p>The table titled 'Groups at Hole' shows the amount of groups that are at a hole</p>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    Entering information for your course
                </mat-expansion-panel-header>
                <p class="accordionContent">Follow the steps below to enter or edit course information</p>
                <p>On the home page click on the course overview tab</p>
                <p>Once there, click on any of the holes from the nav-bar</p>
                <p>Click on the pencil icon on panel for the hole that you wish to edit</p>
                <p>Enter the details and then click save to save. If there is a mistake you can edit this as many times as you wish</p>
                <p>If the information was saved then the tab will change to a non-editable mode</p>
                <p>If not, then re-enter the information and try again</p>
                <p>This information is what players will see when visiting your course</p>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    Geofencing holes
                </mat-expansion-panel-header>
                <p class="accordionContent">Follow the steps below to draw hole boundaries and place a hole marker</p>
                <p>Navigate to the Course Overview tab</p>
                <p>With any hole selected from the navbar, look at the general information card</p>
                <p>If the geofencing of the hole isn't complete then it will be marked is 'Not Complete'</p>
                <p>To complete geofencing, click on the map icon to launch the map</p>
                <p>First, place a marker on the location of the hole by clicking on the map</p>
                <p>Next, draw the outline of the hole by clicking the polygon icon in the top left</p>
                <p>If a mistake is made the undo button will clear the drawn overlay. The marker is always moveable</p>
                <p>There is a fullsceen button in the top right corner, zoom controls in the bottom right, and a drag button on the top left</p>
                <p>Pressing the close button will close the map window without saving</p>
                <p>When finished hit the save button to save the information</p>
                <p>Each time the map is launched it will be cleared of all previous overlays</p>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    Download the mobile app
                </mat-expansion-panel-header>
                <p class="accordionContent">To download the mobile app, click on the button below</p>
                <p><button mat-button mat-flat-button color="primary" class="button" (click)=appDownload()><a style="color: white;">Download GPTM Mobile</a></button></p>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    Contact Us
                </mat-expansion-panel-header>
                <!-- Actual email I created so that it looks better -->
                <p class="accordionContent">Email any discovered issues and/or feature requests to us at our support <a href="" (click)="mailTo()">email</a></p>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-card>
</div>
