.main-div{
    height: 87vh;
    display: flex;
    flex: inherit;
    justify-content: center;
    align-items: center;
}

.container{
    text-align: center;
    height: 80%;
}

.header{
    text-align: center;
    font-size: 30px;
    margin-bottom: 40px;
}

.center{
    margin: auto;
    /* border: 3px solid green; */
    padding: 20px;
    border-radius: 20px;
}

.card {
    opacity: 90%;
    flex: auto;
    width: fit-content;
    height: fit-content;
}

.row{
    text-align: center;
}