.main-div {
    text-align: center;
    font-size: medium;
}

.tile1 {
    text-align: center;
    width: 91%;
    min-width: 80vw;
    margin-bottom: 1%;
    margin-top: 1%;
    display: inline-block;
}

.tile2 {
    text-align: center;
    width: 45%;
    display: inline-block;
    margin-bottom: 1%;
}

.tile3 {
    text-align: center;
    width: 45%;
    display: inline-block;
    margin-bottom: 1%;
}

.tile4 {
    text-align: center;
    width: 45%;
    display: inline-block;
    margin-bottom: 1%;
}

.tile5 {
    text-align: center;
    width: 45%;
    display: inline-block;
    margin-bottom: 1%;
}

.divider {
    width: 1%;
    height: auto;
    display: inline-block;
}

.vert-divider {
    width: auto;
    height: 10px;
    display: inline-block;
}

.edit {
    float: inline-end;
}

.editForm {
    width: 80%;
}

.error{
    color: red;
    font-size: medium;
}

.complete {
    color: green;
    font-size: medium;
}
