table {
    width: 100%;
}
  
th {
    height: 50px;
}

.main-div {
    text-align: center;
    font-size: medium;
    height: 100vh;
}

.chart {
    display: block;
    width: 91%;
}

.card {
    text-align: center;
    width: 91%;
    margin-bottom: 1%;
    margin-top: 2%;
    display: inline-block;
}

.card2 {
    text-align: center;
    width: 91%;
    margin-bottom: 2%;
    display: inline-block;
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
