<div class="main-div">
    <mat-card class="card">
        <h2>Estimated Wait Times in Minutes</h2>
        <div class="flex">
            <div>
              <div class="chart">
                <canvas baseChart
                  height="85"
                  [datasets]="lineChartData"
                  [labels]="lineChartLabels"
                  [options]="lineChartOptions"
                  [colors]="lineChartColors"
                  [legend]="lineChartLegend"
                  [chartType]="lineChartType"
                  [plugins]="lineChartPlugins">
                </canvas>
              </div>
            </div>
            <div style="width: 100%;">
                <table class="table table-responsive table-condensed">
                    <tr>
                    <th *ngFor="let label of lineChartLabels">{{label}}</th>
                    </tr>
                    <tr *ngFor="let d of lineChartData; let i=index" [class]="'line-'+i">
                    <td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j]}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </mat-card>  
    <mat-card class="card2">
        <h2>Groups Waiting</h2>
        <div class="flex-item">
            <table class="table table-responsive table-condensed">
              <tr>
                <th *ngFor="let label of lineChartLabels">{{label}}</th>
              </tr>
              <tr *ngFor="let d of queueData; let i=index" [class]="'line-'+i">
                <td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j]}}</td>
              </tr>
            </table>
        </div>
    </mat-card>
</div>
