table {
    width: 100%;
}
  
th {
    height: 50px;
}

.main-div {
    text-align: center;
}

.chart {
    display: block;
    width: 91%;
}

.card {
    margin-top: 2%;
    margin-bottom: 1%;
    width: 91%;
}

.card2 {
    margin-top: 1%;
    margin-bottom: 3%;
    width: 91%;
}
