table {
    width: 100%;
    border-collapse: collapse;
    overflow: scroll;
}

th {
    border-top: 1px solid #ddd;
}

tr:hover {
    background-color: #f5f5f5;
}

th, td {
    height: 50px;
    border-bottom: 1px solid #ddd;
}

.main-div {
    position: relative;
    text-align: center;
    font-size: medium;
    width: 100%;
    justify-content: center;
}

.chart {
    display: block;
    overflow-x:auto;
}

.card {
    text-align: center;
    width: 91%;
    margin-bottom: 1%;
    margin-top: 1%;
    display: inline-block;
}

.card2 {
    text-align: center;
    width: 91%;
    margin-bottom: 1%;
    display: inline-block;
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
