.logout {
    position: absolute;
    top: 5px;
    right: 16px;
    font-size: larger;
}

.title {
    position: absolute;
    top: 6px;
    left: 16px;
    font-size: larger;
}

.app-toolbar {
    position: sticky;
    position: -webkit-sticky; /* For macOS/iOS Safari */
    top: 0; /* Sets the sticky toolbar to be on top */
    z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}
