<div class="center">
    <button mat-icon-button type="button" matDialogClose tabindex="-1" class="btn-close"><mat-icon>close</mat-icon></button>
    <h1 class="header">Register</h1>
    <mat-horizontal-stepper [linear]="true" #stepper>
        <mat-step [stepControl]="courseSelectForm">
            <form [formGroup]="courseSelectForm" class="container">
                <ng-template matStepLabel>Find your course</ng-template>
                <div class="container">
                    <mat-form-field class="search">
                        <input matInput type="text" class="form-control" (keydown.enter)="$event.preventDefault()" 
                        placeholder="Search by Course Name" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search
                        name="golfCourse" formControlName="golfCourse" [(ngModel)]="golfCourse" id="golfCourse">
                    </mat-form-field>
                </div>
                <div>
                    <!-- For dropdown list (more scalability?) -->
                    <!-- <mat-form-field>
                        <mat-label>Number of holes</mat-label>
                        <mat-select [(ngModel)]="selectedNumber" name="numberOfHoles" formControlName="numberOfHoles">
                            <mat-option *ngFor="let numberOfHoles of numbers" [value]="numberOfHoles.value">
                            {{numberOfHoles.viewValue}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field> -->
                    <mat-label>Select the number of holes on your course</mat-label>
                    <mat-radio-group class="radio-group" [(ngModel)]="selectedNumber"
                    name="selectedNumber" formControlName="numberOfHoles">
                    <mat-radio-button class="radio-button" *ngFor="let hole of holes" [value]="hole">{{hole}}</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div><label class="success" *ngIf="valid">{{valid}}</label></div>
                <div><label class="error" *ngIf="invalid">{{invalid}}</label></div>
                <div><label class="error" *ngIf="notACourse">{{notACourse}}</label></div>
                <div *ngIf="!valid && !invalid && !notACourse"><p></p></div>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br *ngIf="!successMessage && valid && !invalid && !notACourse">
                <br *ngIf="!successMessage && !valid && invalid && !notACourse">
                <br *ngIf="!successMessage && !valid && !invalid && notACourse">
                <br *ngIf="!successMessage && !valid && !invalid && !notACourse">
                <br *ngIf="successMessage && !valid && !invalid && !notACourse">
                <br *ngIf="successMessage && !valid && !invalid && !notACourse">
                <div mat-dialog-actions class="buttons">
                    <button *ngIf="!successMessage" mat-raised-button color="primary" type="button" class="btn-default" (click)="verifyGolfCourse()">VERIFY</button>
                    <button *ngIf="successMessage" mat-raised-button color="primary" type="button" class="btn-default" (click)="verifyGolfCourse()" disabled>VERIFY</button>
                    <div class="divider"></div>
                    <button *ngIf="valid && !successMessage" mat-raised-button color="secondary" type="button" class="btn-default" matStepperNext>Next<mat-icon>navigate_next</mat-icon></button>
                    <button *ngIf="!valid || successMessage" mat-raised-button color="secondary" type="button" class="btn-default" matStepperNext disabled>Next<mat-icon>navigate_next</mat-icon></button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="registerForm">
            <form [formGroup]="registerForm" class="container">
                <ng-template matStepLabel>Create an account</ng-template>
                <div>
                    <mat-form-field>
                        <input matInput placeholder="Email" id="email" name="email" [(ngModel)]="email" type="email" formControlName="email" required>
                        <mat-hint>Enter an email address</mat-hint>
                        <mat-error>
                            Email is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <input matInput placeholder="Password" id="password" name="password" [(ngModel)]="password" type="password" formControlName="password" required>
                        <mat-hint>Enter a password</mat-hint>
                        <mat-error>
                            Must be at least 6 characters
                        </mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <input matInput placeholder="Reenter Password" id="password2" name="password2" [(ngModel)]="password2" type="password" formControlName="password2" required>
                        <mat-hint>Renter your password</mat-hint>
                        <mat-error>
                            Must be at least 6 characters
                        </mat-error>
                    </mat-form-field>
                </div>
                <div><label class="error" *ngIf="errorMessage">{{errorMessage}}</label></div>
                <label class="success">{{successMessage}}</label>
                <div><label class="error" *ngIf="alreadyExists">{{alreadyExists}}</label></div>
                <div><label class="error" *ngIf="noMatch">{{noMatch}}</label></div>
                <div><label class="error" *ngIf="invalid">{{invalid}}</label></div>
                <div><label class="error" *ngIf="notACourse">{{notACourse}}</label></div>
                <br *ngIf="!errorMessage && !alreadyExists && !noMatch && !successMessage && !invalid  && !notACourse">
                <br *ngIf="!errorMessage && !alreadyExists && !noMatch && !successMessage && invalid  && !notACourse">
                <br *ngIf="!errorMessage && !alreadyExists && !noMatch && successMessage && !invalid  && !notACourse">
                <br *ngIf="!errorMessage && !alreadyExists && noMatch && !successMessage && !invalid  && !notACourse">
                <br *ngIf="!errorMessage && !alreadyExists && noMatch && !successMessage && !invalid  && !notACourse">
                <br *ngIf="!errorMessage && alreadyExists && !noMatch && !successMessage && !invalid  && !notACourse">
                <br *ngIf="errorMessage && !alreadyExists && !noMatch && !successMessage && !invalid  && !notACourse">
                <br *ngIf="errorMessage && alreadyExists && !noMatch && !successMessage && !invalid  && !notACourse">
                <br *ngIf="errorMessage && !alreadyExists && noMatch && !successMessage && !invalid  && !notACourse">
                <br *ngIf="errorMessage && !alreadyExists && !noMatch && successMessage && !invalid  && !notACourse">
                <br *ngIf="errorMessage && !alreadyExists && !noMatch && !successMessage && invalid  && !notACourse">
                <br *ngIf="!errorMessage && alreadyExists && noMatch && !successMessage && !invalid  && !notACourse">
                <br *ngIf="!errorMessage && alreadyExists && !noMatch && successMessage && !invalid  && !notACourse">
                <br *ngIf="!errorMessage && alreadyExists && !noMatch && !successMessage && invalid  && !notACourse">
                <br *ngIf="!errorMessage && !alreadyExists && noMatch && successMessage && !invalid  && !notACourse">
                <br *ngIf="!errorMessage && !alreadyExists && noMatch && !successMessage && invalid  && !notACourse">
                <br *ngIf="!errorMessage && !alreadyExists && !noMatch && successMessage && invalid  && !notACourse">
                <br *ngIf="errorMessage && alreadyExists && noMatch && !successMessage && !invalid  && !notACourse">
                <br *ngIf="errorMessage && alreadyExists && !noMatch && successMessage && !invalid  && !notACourse">
                <br *ngIf="errorMessage && alreadyExists && !noMatch && !successMessage && invalid  && !notACourse">
                <br *ngIf="!errorMessage && alreadyExists && noMatch && successMessage && !invalid  && !notACourse">
                <br *ngIf="!errorMessage && alreadyExists && noMatch && !successMessage && invalid  && !notACourse">
                <br *ngIf="errorMessage && alreadyExists && noMatch && successMessage && !invalid  && !notACourse">
                <br *ngIf="errorMessage && alreadyExists && noMatch && !successMessage && invalid  && !notACourse">
                <br *ngIf="errorMessage && alreadyExists && !noMatch && successMessage && invalid  && !notACourse">
                <br *ngIf="errorMessage && !alreadyExists && noMatch && successMessage && invalid  && !notACourse">
                <br *ngIf="!errorMessage && alreadyExists && noMatch && successMessage && invalid  && !notACourse">
                <br *ngIf="errorMessage && alreadyExists && noMatch && successMessage && invalid  && !notACourse">
                <br *ngIf="!errorMessage && !alreadyExists && !noMatch && !successMessage && invalid  && !notACourse">
                <br *ngIf="!errorMessage && !alreadyExists && !noMatch && !successMessage && !invalid  && !notACourse">
                <br *ngIf="!errorMessage && !alreadyExists && !noMatch && !successMessage && !invalid && !notACourse">
                <br *ngIf="!errorMessage && !alreadyExists && !noMatch && successMessage && !invalid && !notACourse">
                <div mat-dialog-actions class="buttons">
                    <button *ngIf="!successMessage" mat-raised-button color="secondary" type="button" class="btn-default" matStepperPrevious><mat-icon>arrow_back_ios</mat-icon>Back</button>
                    <div class="divider"></div>
                    <button *ngIf="!successMessage" mat-raised-button color="primary" type="submit" (click)="tryRegister(registerForm.value)" class="btn btn-default">Register</button>
                    <button *ngIf="successMessage" mat-raised-button color="secondary" type="button" class="btn-default" matStepperPrevious disabled><mat-icon>arrow_back_ios</mat-icon>Back</button>
                    <div class="divider"></div>
                    <button *ngIf="successMessage" mat-raised-button color="primary" type="submit" (click)="tryRegister(registerForm.value)" class="btn btn-default" disabled>Register</button>
                </div>
                <div class="spacer"></div>
            </form>
        </mat-step>
    </mat-horizontal-stepper>
</div>
