.center{
    margin: auto;
    padding: 20px;
    border-radius: 20px;
}

.card {
    align-self: auto;
    padding: 10px;
    width: fit-content;
    height: fit-content;
    flex: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.container{
    text-align: center;
}

.buttons{
    text-align: center;
    justify-content: center;
    display: flex;
    bottom: 0;
}

.header{
    text-align: center;
    font-size: 30px;
    margin-bottom: 40px;
}

.row{
    margin-top: 10px;
}

.error{
    color: red;
    font-size: medium;
}

.success {
    color: green;
    font-size: medium;
}

.btn-default {
    font-size: medium;
    width: 200px;
    padding: 4px;
}

.btn-close {
    float: right;
}

.divider {
    width:5px;
    height:auto;
    display:inline-block;
}

.search {
    width: 300px;
}

.radio-group {
    display: flex;
    flex-direction: column;
    margin: auto;
    display: list-item;
    list-style-type: none;
}

.radio-button {
    margin: 5px;
}

.input {
    width: 40%;
}
