.center{
    margin: auto;
    /* border: 3px solid green; */
    padding: 20px;
    border-radius: 20px;
}

.card {
    align-self: auto;
    padding: 10px;
    width: fit-content;
    height: fit-content;
    flex: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.main-div{
    height: 87vh;
    display: flex;
    flex: inherit;
    justify-content: center;
    align-items: center;
    background-image: url("https://previews.123rf.com/images/tehcheesiong/tehcheesiong1104/tehcheesiong110400024/9415922-golf-ball-on-edge-of-hole.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.container{
    text-align: center;
}

.header{
    text-align: center;
    font-size: 30px;
    margin-bottom: 40px;
}
  
.row{
    margin-top: 10px;
}
  
.error{
    color: red;
    font-size: medium;
}

.success {
    color: green;
    font-size: medium;
}

.btn-default {
    font-size: medium;
    width: 200px;
    padding: 4px;
}
